@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--color-blanco);
    height: 120%;
    
}
.header__invento{
    padding: var(--space-layout-padding-lr);
    position: static;
    background-color: var(--color-azul);
    color: var(--color-blanco);
    display: flex;
    column-gap: 10px;
    /* justify-content: space-between; */ 
}
.header__invento img{
    width: 40px;
}
.header__invento p{
    margin-top: 10px;
}
.icon1{
    position: absolute;
    right: 0;
    padding-right: 10px;
}
.header__opciones img{
    width: 40px;
}
.partbalance{
    background-color: var(--color-azul);
    overflow: hidden;
    height: 200px;
    border-bottom-left-radius: 160px;
    border-bottom-right-radius: 160px;
}
.tot{
    background-color: var(--color-verde);
    color: var(--color-blanco);
    left: 25%;
    top: 18%;
    position: absolute;
    width: 200px;
    text-align: center;
    height: 200px;
    border-radius: 100%;
}
.bot{
    background-color: cornflowerbluea;
    margin-top: 110px;
    margin-left: 5vh;

}
.bot1{
    font-size: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 30px;
    margin-right: 10px;
    border-color: var(--color-azul);
    background-color: var(--color-azul);
    color: var(--color-blanco);
}
.bot2{
    font-size: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 30px;
    margin-right: 10px;
    border-color: var(--color-verde);
    color: var(--color-verde);
    background-color: var(--color-blanco);
}
.bot3{
    font-size: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 30px;
    margin-right: 10px;
    border-color: var(--color-gris);
    color: var(--color-gris);
    background-color: var(--color-blanco);
}
.estadisticas{
    margin-top: 7vh;
    width: 59vh;
}
.days{
    margin-top: 7vh;
    width: 50vh;
}
.compl{
    margin-bottom: 70px;
}




















footer{
    background-color: var(--color-azul);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    
}
footer ul{
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

}

footer ul li{
    justify-content: center;
    list-style: none;

}
footer li a img{
    width: 30px;
    height: 30px;
}