@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.medio{
    background-color: var(--color-azul) ;
    padding: var(--space-layout-padding-lr);
    
}
body{
    background-color: var(--color-azul);
    display: flex;
    flex-direction: column;
}

header{
    padding-top: 10px; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--color-blanco);
}
.header__invento img{
    width: 40px;
}
.header__opciones img{
    width: 40px;
}
.arrown{
    background-color: var(--color-blanco);
}
.up{
    margin-top: 8vw;
    padding: var(--space-layout-padding-lr);
}
.balances{
    color: var(--color-blanco);
    padding-top: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 7vw;
}
.linea{
    width: 40vw;
}
h1{
    color: var(--color-blanco);
    margin-top: 2vw;
    font-size: 9vw;
}
.arrown{
    background-color: var(--color-gris);
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 97vw;
    overflow-y: scroll;
    border-top-left-radius: 14vw;
    border-top-right-radius: 14vw;
    padding: var(--space-layout-padding-lr);
}
.Activities{
    margin-top: 9vw;
}
.scrool{
    
    display: flex;
    overflow-x: scroll;
}
.scrool div{
    padding-left: 6vw;
}
.options{
    background-color: var(--color-blanco);
    margin-left: 6vw;
}
.options























footer{
    background-color: var(--color-azul);
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer__ul{
    display: flex;
    height: 60px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    

}
.footer__ul li{
    list-style: none;
    justify-content: center;
    
}

.footer__ul li a img{
    height: 30px;
    width: 30px;
}
