@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.medio{
    background-color: var(--color-azul) ;
    padding: var(--space-layout-padding-lr);

}
body{
    background-color: var(--color-azul);
    display: flex;
    flex-direction: column;
}

.header__invento{
    color: var(--color-blanco);
    display: flex;
    column-gap: 10px;
    /* justify-content: space-between; */
}
.header__invento img{
    width: 40px;
}
.header__invento p{
    margin-top: 10px;
}
.icon1{
    position: absolute;
    right: 0;
    padding-right: 10px;
}
.header__opciones img{
    width: 40px;
}
.arrown{
    padding: var(--space-layout-padding-lr);
    background-color: var(--color-blanco);
    position: absolute;
    width: 100%;
    height: 120%;
    margin-top: 270px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    overflow-y: scroll;
}
.up{
    margin-top: 8vw;
    padding: var(--space-layout-padding-lr);
}
.balances{
    color: var(--color-blanco);
    padding-top: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 7vw;
}
.linea{
    width: 160px;
}
h1{
    color: var(--color-blanco);
    /* margin-top: vw; */
    font-size: 35px;
}
.saludar p{
    color: var(--color-blanco);
    margin-top: 2vw;
    font-size: 35px;
}
.box{
    font-size: 20px;
    position: relative;
    top: 30px;
    margin-left: 10px;
    font-family: "SF_BOLD"
}
.scroll{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin-top: 40px;
    overflow-x: scroll;
    text-align: center;
    column-gap: 15px;
    font-size: 20px;
    font-family: "SF_SEMIBOLD";
}
.options{
    border: 1px solid;
    width: 108px;
    height: 140px;
    border-radius: 20px;
}
.options img{
    width: 70px;
    margin-top: 20px;
}
.transactions{
    margin-top: 40px;
    font-size: 20px;
    font-family: "SF_BOLD";
    margin-left: 10px;
    position: relative;

}
.contenido_transaccion{
    margin-top: 20px;
    row-gap: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: column;

}
.contenido_transaccion div{
    background-color: beige;
    border-radius: 10px;
}
.transaction1{
    display: grid;
    grid-row: 1;
    height: 50px;
    padding-top: 3px;
    padding-bottom: 1px;
}
.transaction1 h3{
    display: grid;
    grid-column: 2;
    grid-row: 1;
}
.transaction1 span{
    display: grid;
    grid-column: 4;
}
.transaction1 img{
    width: 50px;
    grid-row-start: 1;
    grid-row-end: 2;
}
.transaction1 small{
    grid-column: 3;
    grid-row: 1;
    font-size: 11px;
    position: absolute;
    right: 0;
    padding-top: 35px;
    padding-right: 15px;
    font-family: "SF_MEDIUM";
    
}

.transaction1 h6{

    grid-column: 2;
    grid-row: 1;
    height: 50px;
    margin-top: 30px;
}

















footer{
    background-color: var(--color-azul);
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer__ul{
    display: flex;
    height: 60px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;


}
.footer__ul li{
    list-style: none;
    justify-content: center;

}

.footer__ul li a img{
    height: 30px;
    width: 30px;
}
