<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/balance2.css">
    <title>Balance</title>
</head>
<body>
    <header>
        <div class="header__invento">
            <img src="../storage/img/iconoflechacruzada.svg" >
            <p> INVETO</p>
            <img class="icon1" src="../storage/img/iconomenuarriba.svg" >
        </div>
    </header>
    <section class="partbalance">
        <div class="tot">
            <div class="circle">
                <h2 class="baj">Total</h2>
                <h2>Balance</h2>
                <h2>$214,417</h2>
            </div>
        </div>
    </section>
    <section class="botones">
        <div class="bot">
            <div class="bo">
                <button class="bot1">Assets</button>
            </div>
            <div class="bo">
                <button class="bot2">Debt</button>
            </div>
            <div class="bo">
                <button class="bot3">Income</button>
            </div>
        </div>

    </section>
    <section class="balanc">
        <div class="bal">
            <img src="../storage/img/graphic.svg"  class="estadisticas">
        </div>
        <div class="di">
            <img src="../storage/img/Frame 42diascreo.svg" class="days">
        </div>
    </section>

    <footer>
        <ul>
            <li>
                <a href="#">
                    <img src="../storage/img/iconohome.svg">
                </a>
            </li>
            <li>
                <a href="balance.html">
                    <img src="../storage/img/Group 216.svg">
                </a>
            </li>
            <li>
                <a href="mycard.html">
                    <img src="../storage/img/Iconomenup.svg">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../storage/img/iconocampana.svg">
                </a>
            </li>
            <li>
                <a href="../index.html">
                    <img src="../storage/img/Group 218personaunselec.svg">
                </a>
            </li>
        </ul>
    </footer>
</body>
</html>